
body {
    margin: 0; /*Remove default margin to avoid spacing issues */
    background-color: rgb(39, 64, 4);
}

header {
    background-color: rgb(233, 205, 45); /*Adding background color for better visibility */
}

.header-links {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.header-links a {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 20rem;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    margin-right: 200px;  /*Adjust spacing between links as needed */
    color: rgb(112, 37, 5); /* Set text color to white for better visibility */
    text-decoration: none; /*remove underlines from links */
}

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie{
    width: 300px;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0.3px 5px 7px rgba(0,0,0,1,1); 
    background-color: rgb(158, 157, 160);
    position: relative;
    overflow: hidden;
}

.movie img{
    width: 100%;
}

.movie-info {
    color: rgb(104, 11, 19);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

